Telegram Agent.json
{
  "name": "tele2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -48,
        -336
      ],
      "id": "445a22cc-2114-4f91-8f99-4b0a9f23ca11",
      "name": "Telegram Trigger",
      "webhookId": "7f410a9f-801a-4ecc-85df-8f64cfbada2b",
      "credentials": {
        "telegramApi": {
          "id": "vE9N7GmAbRiWnq30",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1360,
        -432
      ],
      "id": "6e464557-9857-4bb7-bf54-1bc8b10f2eae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1296,
        -208
      ],
      "id": "9f77eaac-d3fc-4e69-ab72-881d7f600311",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b5NkHRIBFO6fFepr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "= {{$json[\"message\"][\"chat\"][\"id\"]}}",
        "tableName": "=n8n_chat_histories "
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        1424,
        -208
      ],
      "id": "f10f8495-b747-4e94-b2cd-c2275f7f1d92",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "SFCwRr6WQrNIcoYs",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This dataset contains structured text embeddings generated from documents stored in Google Drive. Each entry includes the original content, associated metadata such as file name, type, and source folder, along with its corresponding vector representation. The stored embeddings enable efficient similarity search, semantic retrieval, and context-aware responses when integrated with a Retrieval-Augmented Generation (RAG) pipeline or intelligent agents.",
        "tableName": {
          "__rl": true,
          "value": "doc1",
          "mode": "list",
          "cachedResultName": "doc1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        1552,
        -208
      ],
      "id": "0822779c-ad78-4834-9b84-a2df70220cc0",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "teidDOJA07DJOk08",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1632,
        0
      ],
      "id": "78c6cc65-b028-454b-994c-56da3b7f3c6d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "b5NkHRIBFO6fFepr",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "a419e60c-4763-4ffa-bcad-dd79957b256c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "91e7d2c5-0425-4ade-b1ec-19e01bec5843",
                    "leftValue": "={{$json.message.chat || \"\"}}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        624,
        -240
      ],
      "id": "56cefc77-8b54-4faa-a6bc-afcfac321679",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -336
      ],
      "id": "7ec5a6ee-da92-4594-8637-ca5c0e780970",
      "name": "Get a file",
      "webhookId": "a8c7a831-3efc-4ede-ae73-8eb43ec0175c",
      "credentials": {
        "telegramApi": {
          "id": "vE9N7GmAbRiWnq30",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {
          "language": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1072,
        -432
      ],
      "id": "4c1a10c4-9e0f-47f0-9302-97ecec644893",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "xnr9r8SebmG0kxue",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "025274c3-923b-46ed-9552-5cc8b4bb6c66",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1088,
        -80
      ],
      "id": "fb219c38-9547-450b-8ba7-5aa9ddd44f0d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2144,
        -336
      ],
      "id": "cf4dcc78-1007-4457-a542-f0241ce20b39",
      "name": "Send a text message",
      "webhookId": "ba9299bc-5c1f-44ce-8464-77f605513f02",
      "credentials": {
        "telegramApi": {
          "id": "vE9N7GmAbRiWnq30",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "64bf7fa9-02f8-4913-adce-6e9fb77f6a0d",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.voice }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1920,
        -432
      ],
      "id": "0c272859-95b5-4249-98d9-36db0c33ac4b",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2144,
        -528
      ],
      "id": "5197689f-183a-4e48-ba31-66f812181faf",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "xnr9r8SebmG0kxue",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "fileName": "={{ $json.fileName }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2368,
        -528
      ],
      "id": "d8ded019-9cec-447c-af02-6c80a07de812",
      "name": "Send an audio file",
      "webhookId": "cea64dc9-57e1-4cb9-b193-a14f04b1c10f",
      "credentials": {
        "telegramApi": {
          "id": "vE9N7GmAbRiWnq30",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "c6d2ec9e-a345-48cc-b317-41079fe93c63",
              "leftValue": "={{ $json.message.photo }}",
              "rightValue": "={{ $json.message.photo[1].file_unique_id }}{{ $json.message.photo[1].file_id }}{{ $json.message.photo[1].file_size }}",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "f25c4570-5163-4d43-bf90-a0924b5a5022",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        176,
        -336
      ],
      "id": "b9672c1a-98fc-4c5f-869b-ee2004985056",
      "name": "If1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[1].file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        400,
        -624
      ],
      "id": "d04e7298-565c-41ae-b038-f06f9ac42cd5",
      "name": "download image",
      "webhookId": "5bbf90cb-fc4c-431b-abaa-7fe70514a939",
      "credentials": {
        "telegramApi": {
          "id": "vE9N7GmAbRiWnq30",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "chatgpt-4o-latest",
          "mode": "list",
          "cachedResultName": "CHATGPT-4O-LATEST"
        },
        "text": "You are an assistant that analyzes images. Describe the image in detail. \nIf the image contains any text or visible questions, extract them and provide clear answers.\n",
        "imageUrls": "={{ $json.Location }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        848,
        -624
      ],
      "id": "38e8a313-d695-491d-906d-c0d445699072",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "xnr9r8SebmG0kxue",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fcb8e620-dcaf-4003-ba30-268a3fb63fe3",
              "name": "text",
              "value": "=# The user provided the following image and text.\n# Image Description:\n{{ $json.content }}\n#User message:\n{{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -624
      ],
      "id": "b8b30ee0-f5c1-4db2-a0ab-74d6d693ca39",
      "name": "image+text propt"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "temple-develop",
        "fileName": "temple-develop",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        1072,
        -240
      ],
      "id": "5f89f38a-fe85-4e96-9622-c59bf4d399c9",
      "name": "Upload a file",
      "credentials": {
        "aws": {
          "id": "6WFu2tMZjLYIQZK4",
          "name": "AWS account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "temple-develop",
        "fileName": "={{ $json.result.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.awsS3",
      "typeVersion": 2,
      "position": [
        624,
        -624
      ],
      "id": "5f3bdb7f-78ef-4702-bad5-f3b22f5d5e8b",
      "name": "Upload a file1",
      "credentials": {
        "aws": {
          "id": "6WFu2tMZjLYIQZK4",
          "name": "AWS account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "download image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "download image": {
      "main": [
        [
          {
            "node": "Upload a file1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "image+text propt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "image+text propt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload a file1": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "33bdf190-76a0-4a06-b251-7a2426d7ecc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17dc9eeff9fa402615ca62683e9a608e6b7262f42a10cafc82752b3c254ad2d1"
  },
  "id": "VkQondBwIX8Eq8bY",
  "tags": []
}